@font-face {
    font-family: 'Basketball';
    src: url('fonts/Basketball.ttf') format('truetype');
}

body {
    font-family: 'Basketball', Arial, sans-serif;
    line-height: 1.5;
    text-align: center;
    background-image: url("photos/gif.gif");
    background-size: auto;
    color: #fff;
}

p {
    color: white;
}

h2 {
    color: grey;

}

h3 {
    color: grey;

}

h4 {
    color: grey;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
}
.outborder{
    margin: auto    ;
    padding-top: 10px;
    width: 90%;
    border: 1px solid white;
    border-radius: 30px;
    padding-bottom: 10px;
}
.hobbyBorder{
    margin: auto    ;
    width: 10%;
    border: 1px solid white;
    padding-bottom: 10px;
}
form {
    margin-top: 2em;
    text-align: left;
    display: inline-block;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

label {
    color: #fff;
    font-size: 1.2em;
    display: block;
    margin-bottom: 0.5em;
    text-shadow: 2px 2px #333;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 0.5em;
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #fff;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}

input[type="submit"] {  
    background-color: gray;
    color: #fff;
    width: 100%;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
}